.view-trips{
    width: 117rem;
    margin: auto;
}
.trips-number{
    font-size: 3.5rem;
    color: #555555;
    border-bottom: 2px solid #E74C3C;
    display: inline-block;
    margin-top: 2.6rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}
.bus-info{
    width: 117rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.bus-info-left{
    width: 30%;
    border: 2px solid #555555;
    padding: 3rem 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #555555;
    line-height: 1.9rem;
    
}
.bus-info-right{
    width: 30%;
    border: 2px solid #555555;
    padding: 3rem 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #555555;
    line-height: 1.9rem;
   
} 

.seat-table .content-table{
    /* border-collapse: collapse; */
    font-size: 1.9rem;
    
    margin-left: 4rem;
   min-width: 100rem;
}
.content-table thead tr{
    color: gray;
    text-align: left;
    font-weight: 500;
     border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
.content-table th,
.content-table td {
    padding: 12px 15px;
    color: gray;
}
.content-table tbody tr{
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
.user-pay{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
     ;
}
.table-check{
    font-size: 1.7rem;
    margin-top: 4rem;
}
.btn{
  
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    
}
.pay-btn,.back-btn{
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    outline: none;
    background: rgba(0, 128, 0, 0.753);
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
     margin-bottom: 2rem;
     cursor: pointer;
}
.pay-btn .card-icon{
    margin-left: 0.4rem;
    font-size: 2.3rem;
}
