.continue-btn{
    margin: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    outline: none;
    background: rgba(0, 128, 0, 0.753);
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.continue-btn .con-icon{
    font-size: 1.6rem;
    font-weight: bold;
}
.A1:checked{
    background-color: green;
}
.selected{
    background: green;
}