/*============CSS RESET=====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 62.5%;
}
/*============HEADER-START=====*/
.head{
    background-color: #FFFFFF;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head .navbar{
    width: 117rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar .logo-text{
    font-size: 2.9rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: orangered;
    /* margin-top: 1.2rem; */
}
.nav-list{
    display: flex;

}
.nav-list .nav-item{
    list-style: none;
}
.nav-list .nav-item .nav-link{
    display: flex;
    margin-right: 1.2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}
.nav-list .nav-item .first-link{
    color: #E74C3C;
    border-bottom: 2px solid #E74C3C;
    padding-bottom: 0.3rem;
}
.nav-list .nav-item .nav-link:hover{
    color: #E74C3C;
    border-bottom: 2px solid #E74C3C;
     padding-bottom: 0.3rem;
}
/*============HEADER-END=====*/
/*============Form-start=====*/
.form-section{
    width: 100%;
    background-color:#FFFFFF ;
    display: flex;
    justify-content: center;
}
.form-head{
    width: 117rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: inline-block;
    
}
.form-title{
    background-color:#9E372C;
    width: 100%;
    text-align: center;
    padding: 2.5rem  0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon{
    font-size: 2.0rem;
    color: #FFFFFF;
    margin-right: 0.2rem;
}
.form-heading{
    font-size: 1.6rem;
    color: #FFFFFF;
    word-spacing: 0.3rem;
    font-weight: 100;
    margin-left:0.2rem ;
}
.select{
     flex-basis: 20%;
     margin-right: 0.3rem;
}
.form{
    display: flex;
    flex-wrap: wrap;
    border:1px solid #E74C3C;
    padding: 2rem;
   
}
.search-btn{
    background-color:#C0392B ;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 1.5rem  2.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
