.search-result{
    width: 100%;

}
.view-trips{
    width: 117rem;
    margin: auto;
}
.trips-number{
    font-size: 3.5rem;
    color: #555555;
    border-bottom: 2px solid #E74C3C;
    display: inline-block;
    margin-top: 2.6rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}
.view-card{
    display: flex;
    flex-basis: 20%;
    justify-content: space-around;
    border: 1px solid #F1F1F1 ;
    min-height:20vh;
    box-shadow: 0rem 0.5rem 1rem black;
}
.view-card .part-1{
    
    padding: 4vh 0;
    font-size: 2.4rem;
    font-weight: 600;
}
.view-card .part-2{
    
    padding: 4vh 0;
    font-size: 1.7rem;
    font-weight: 100; 
}
.view-card .part-3{
    
    padding: 4vh 0;
    font-size: 1.7rem;
    font-weight: 100; 
}
.bold{
    font-weight: bold;
}
.view-card .part-4{
    
    padding: 4vh 0;
    font-size: 1.7rem;
    font-weight: 100; 
}
.Taka{
    font-weight: bold;
    font-size: 2.6rem
}
.view-card .part-5{
    padding: 4vh 0;
    font-size: 1.7rem;
    font-weight: 100; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.seat-icon{
    font-size: 2.6rem;
}
.part-5 .view-btn{
    text-decoration: none;
    background-color: #286090;
    color: white;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

